##  read the merged dataframe

In [17]:
# !pip install pandas 
import pandas as pd
import os

In [18]:
current_dir = %pwd
file_dir = os.path.join(current_dir, "..", "data/processed", "merged_dataset.csv")
file_dir

'/Users/gilayache/PycharmProjects/Final-project-feature-selection-in-gene-expression/notebooks/../data/processed/merged_dataset.csv'

In [19]:
df = pd.read_csv(file_dir)
df.head()

,samplename,A2M,A4GNT,AAAS,AACS,AADAC,AAK1,AAMP,AARS,AASDHPPT,...,ZXDA,ZXDC,ZYX,ZZEF1,ER,PAM50,time,event,Lympho,cluster2
0,F1,-1.098234,-0.615048,-1.670827,-0.539020,0.098325,-1.989513,-0.376823,0.439949,-0.990079,...,2.314161,0.481213,-0.277116,-1.183044,1,Basal,2367,0,2.602223,6
1,F2,0.110096,-0.615048,0.248934,0.032084,0.262344,-1.211690,-0.480422,-0.933772,-0.392950,...,0.239147,-1.087827,1.399415,-1.203251,2,LumA,2367,0,1.104544,5
2,F3,-1.779393,-0.615048,-0.422635,0.392158,-0.711190,-0.210792,1.145994,1.938679,-0.093394,...,-1.593300,0.110658,0.481292,-0.641483,2,LumB,2168,1,0.581018,5
3,F4,0.268360,-0.615048,0.236302,0.563540,-0.373168,-0.839605,0.753860,1.562852,0.933071,...,1.002772,0.294238,0.449014,0.854496,2,LumA,2416,0,2.882004,6
4,F5,0.616851,-0.615048,-0.988261,-0.083663,0.067739,-0.732227,-0.760831,-0.655655,-0.962107,...,1.244214,1.526451,0.095333,0.700526,2,Normal,2389,0,1.013356,4